# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CMC project\crawl_gg_trans\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
